In [1]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

# below sending email to yourself
import smtplib

In [2]:
# web scraping used to create dataset

In [3]:
# project: get data from each page from amazon for a search

In [4]:
# import requests

# response = requests.get('https://www.example.com')
# user_agent = response.request.headers['User-Agent']
# print(user_agent)

In [16]:
# we need to tell from where we need data from
# connect to website
url='https://www.amazon.ae/SQL-Guide-John-Hales/dp/1572229160/ref=sr_1_1?crid=KBWHXP76J4NY&keywords=sql+books&qid=1692348471&sprefix=sql+book%2Caps%2C391&sr=8-1'

# headers are for user agents, you need to do this for your computers

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.4 Safari/605.1.15", 
           "Accept-Encoding":"gzip, deflate", 
           "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", 
           "DNT":"1",
           "Connection":"close", 
           "Upgrade-Insecure-Requests":"1"}

page=requests.get(url, headers=headers)

soup1=BeautifulSoup(page.content,'html.parser')
time.sleep(10)
# to make things look better
soup2=BeautifulSoup(soup1.prettify(),'html.parser')

In [17]:
r=soup2.find(id='productTitle')
print(r)

<span class="a-size-extra-large celwidget" id="productTitle">
            SQL Guide
           </span>

In [18]:
title=soup2.find(id='productTitle').get_text()

In [19]:
title=title.strip()

In [20]:
author=soup2.find(class_="author notFaded").get_text().strip()
#formatted_author = author.replace('\n           \n\n\n', ' ')
formatted_author = ' '.join(author.split()).replace('(Author)','').strip()
#splits the string into a list of words, removing any newline characters.
#Then, ' '.join(...) joins the list of words back together with a single space between each word, effectively removing any extra whitespace

In [21]:
price_text=soup2.find(class_="a-size-base a-color-price a-color-price").get_text().strip()

In [22]:
formatted_price = price_text.replace('AED\xa0', ' ').strip()

In [23]:
formatted_price

'37.21'

In [24]:
formatted_author

'John Hales'

In [25]:
rating=soup2.find(class_='a-icon-alt').get_text().strip()
rating=rating.split()[0]

In [26]:
print(title)
print(formatted_author)
print(formatted_price)
print(rating)

SQL Guide
John Hales
37.21
4.5

In [27]:
today=datetime.date.today()
print(today)

2023-08-18

In [50]:
# put it into csv file
import csv

header_csv=['Book_Title','Author','Rating','Price','Date']
data=[title,formatted_author,rating,formatted_price,today]

#our data is list
# create csv
# with open (filename,'w',newline='', encoding='UTF8')
# newline: all that does is when we insert the datait doesn't have a space between each csv
# overrate the data evrytime we are running

#with open('AmazonwebScraperDataset.csv','w',newline='',encoding='UTF8') as f:
    #writer=csv.writer(f)
    # initial insertion of data, the rest are appending only
    #writer.writerow(header_csv)
    
    #writer.writerow(data)

In [37]:
import pandas as pd
df=pd.read_csv('AmazonwebScraperDataset.csv')
df

  Book_Title      Author  Rating  Price        Date
0  SQL Guide  John Hales     4.5  37.21  2023-08-18

In [ ]:
# now we are appending data to this
# no need of header

with open('AmazonwebScraperDataset.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [ ]:
def send_mail():

In [32]:
# if we want to refresh every day

def check_price():
    url='https://www.amazon.ae/SQL-Guide-John-Hales/dp/1572229160/ref=sr_1_1?crid=KBWHXP76J4NY&keywords=sql+books&qid=1692348471&sprefix=sql+book%2Caps%2C391&sr=8-1'

    # headers are for user agents, you need to do this for your computers

    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.4 Safari/605.1.15", 
           "Accept-Encoding":"gzip, deflate", 
           "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", 
           "DNT":"1",
           "Connection":"close", 
           "Upgrade-Insecure-Requests":"1"}

    page=requests.get(url, headers=headers)

    soup1=BeautifulSoup(page.content,'html.parser')
    time.sleep(10)
    soup2=BeautifulSoup(soup1.prettify(),'html.parser')
    
    title=soup2.find(id='productTitle').get_text().strip()
    
    price_text=soup2.find(class_="a-size-base a-color-price a-color-price").get_text().strip()
    formatted_price = price_text.replace('AED\xa0', ' ').strip()
    
    author=soup2.find(class_="author notFaded").get_text().strip()
    formatted_author = ' '.join(author.split()).replace('(Author)','').strip()
    
    rating=soup2.find(class_='a-icon-alt').get_text().strip()
    rating=rating.split()[0]
    
    import datetime
    today=datetime.date.today()
    
    import csv

    header_csv=['Book_Title','Author','Rating','Price','Date']
    data=[title,formatted_author,rating,formatted_price,today]
    
    with open('AmazonwebScraperDataset.csv','a+',newline='',encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(data)
        
    if (formatted_price<14):
        send_mail()

In [59]:
while(True):
    check_price()
    time.sleep(50)

AttributeError: 'NoneType' object has no attribute 'get_text'

In [36]:
df

  Book_Title      Author  Rating  Price        Date
0  SQL Guide  John Hales     4.5  37.21  2023-08-18

In [46]:
import pandas as pd
df=pd.read_csv('AmazonwebScraperDataset.csv')
df

  Book_Title      Author  Rating  Price        Date
0  SQL Guide  John Hales     4.5  37.21  2023-08-18
1  SQL Guide  John Hales     4.5  37.21  2023-08-18
2  SQL Guide  John Hales     4.5  37.21  2023-08-18